/**********************
  variable declaration
  *********************/

:root {
	/* color varibles */
	--color-white: rgba(255, 255, 255, 1);
	--color-paper: rgba(245, 245, 245, 1);
  --color-purple: rgba(100, 50, 255, 1);
  --color-basalt: rgba(0, 0, 0, 0.85);
  --color-black: rgba(0, 0, 0, 1);
	--color-yellow: #FEE500;
	--color-prime: rgba(0, 0, 0, 1);
  --color-grad-shadow-up: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
	--color-grad-prime-up: linear-gradient(to top, var(--color-prime) 80%, transparent);

	/*fundamentals*/
	--PI: 3.14159265358979;

	/*margins and paddings*/
	--gap-half: 4px;
	--gap-normal: 8px;
	--gap-double: 16px;
	--round-small: 12px;
	--round-normal: 16px;
	--round-large: 20px;
	--round-max: 32px;
	--size-font-large: 24px;
	--size-font-medium: 16px;
	--size-font-small: 12px;
	--size-icon-medium: 20px;
	--size-icon-small: 16px;

}





/**********************
  style definition
  *********************/

@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

	/* comps */

* {
	position: relative;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Gothic A1', sans-serif;
	color: var(--color-basalt);
}
body {
	background-color: var(--color-paper);
}
h1 {
	font-size: var(--size-font-large);
	font-weight: 800;
}

img {
	width: 100%;
	display: block;
}

div.container-section {
	position: relative;
	margin: 0 auto;
	margin-bottom: var(--gap-normal);
	max-width: calc(1200px + 4 * var(--gap-normal));
}

div.card-main-footer {
	display: block;
	padding: calc(3 * var(--gap-normal)) var(--gap-normal);
	border-radius: var(--round-max) var(--round-max) 0 0;
	background-color: var(--color-paper);
}

div.card-main-info {
	position: absolute;
	left: var(--gap-normal);
}

div.card-main-info img {
	display: inline-block;
	width: var(--size-icon-medium);
	vertical-align: middle;
}
div.card-main-info span {
	margin-left: var(--gap-normal);
	font-size: var(--size-font-medium);
	font-weight: 700;
	line-height: 0;
}
.grid {
	position: relative;
	box-sizing: border-box;
	padding: var(--gap-normal) var(--gap-half);
}
.grid-item {
	margin-top: 0;
	margin-bottom: var(--gap-normal);
	margin-left: var(--gap-half);
	margin-right: var(--gap-half);
	width: calc((100% - 3 * var(--gap-normal))/2);
	max-width: 400px;
}

div.card-grid-info {
	position: relative;
	padding: var(--gap-half) var(--gap-normal);
}

div.card-grid-info img {
	display: inline-block;
	width: var(--size-icon-small);
	vertical-align: middle;
}
div.card-grid-info span {
	margin-left: var(--gap-normal);
	font-size: var(--size-font-small);
	font-weight: 700;
	line-height: 0;
}

div.placeholder {
  margin: 0;
  padding: 0;
	border-width: 0;
	overflow: hidden;
}

div.header {
	padding: calc(3 * var(--gap-normal));
	padding-bottom: var(--gap-normal);
}

button {
	text-align: center;
	font-weight: bolder;
	vertical-align: middle;
	width: auto;
	border-width: 0;
	background-color: var(--color-yellow);
	color: var(--color-basalt);
}

button.button-large {
	font-size: var(--size-font-medium);
	height: 40px;
	padding: 0 20px;
	border-radius: var(--round-small);

}



/* alignment */

.align-h-left {
  left: 0;
}

.align-h-center {
	left: 50%;
	transform: translateX(-50%);
}
.align-h-right {
	right: 0;
}

.align-v-middle {
  top: 50%;
  transform: translateY(-50%);
}

/* generic style calsses */

.mask-round-normal {
  border-radius: var(--round-normal);
}

.shadow-drop-normal {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.shadow-drop-narrow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.shadow-up-normal {
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.15);
}

.colorblur-up::before {
  pointer-events: none;
	position: absolute;
	top: calc( -1 * var(--gap-normal));
	left: 0;
	content: '';
	background: var(--color-grad-prime-up);
	width: 100%;
	height: calc(var(--gap-normal) + var(--round-max));
}
